/* Colors */
.hidden {
  display: none; }

.pull-left {
  float: right; }

.pull-right {
  float: right; }

.bottom-5 {
  margin-bottom: 5px; }

.bottom-20 {
  margin-bottom: 20px; }

.bottom-30 {
  margin-bottom: 30px; }

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.serif {
  font-family: "Georgia", serif; }

.sans-serif {
  font-family: "SourceSansPro-Regular", Helvetica, Arial, sans-serif; }

.sans-serif-extralight {
  font-family: "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif; }

.sans-serif-light {
  font-family: "SourceSansPro-Light", Georgia; }

.sans-serif-semibold {
  font-family: "SourceSansPro-Semibold", Helvetica, Arial, sans-serif; }

.sans-serif-bold {
  font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif; }

.sans-serif-black {
  font-family: "SourceSansPro-Black", Helvetica, Arial, sans-serif; }
