@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* Colors */
.hidden {
  display: none; }

.pull-left {
  float: right; }

.pull-right {
  float: right; }

.bottom-5 {
  margin-bottom: 5px; }

.bottom-20 {
  margin-bottom: 20px; }

.bottom-30 {
  margin-bottom: 30px; }

.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.serif {
  font-family: "Georgia", serif; }

.sans-serif {
  font-family: "SourceSansPro-Regular", Helvetica, Arial, sans-serif; }

.sans-serif-extralight {
  font-family: "SourceSansPro-ExtraLight", Helvetica, Arial, sans-serif; }

.sans-serif-light {
  font-family: "SourceSansPro-Light", Georgia; }

.sans-serif-semibold {
  font-family: "SourceSansPro-Semibold", Helvetica, Arial, sans-serif; }

.sans-serif-bold {
  font-family: "SourceSansPro-Bold", Helvetica, Arial, sans-serif; }

.sans-serif-black {
  font-family: "SourceSansPro-Black", Helvetica, Arial, sans-serif; }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

a {
  color: #333; }

a:hover {
  color: #000; }

  .refresh {
    position:absolute;
    right: 20px;
    bottom: 20px;
    background:#333;
    color: #fff;
    padding: 5px 7px;
  font-size: 14px;
  font-family: "Droid Sans", sans-serif;
  z-index: 10000; 
  &:hover { color: #ccc; }
  }

.last-update {
  position: absolute;
  top: 15px;
  right: 160px;
  font-size: 14px;
  font-family: "Droid Sans", sans-serif;
  z-index: 10000; }

.leaflet-container .leaflet-control-attribution {
  display: none; }

.message {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #FDF6E3;
  color: #333;
  font-size: 17px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 300;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  box-shadow: 0 1px 1px rgba(51, 51, 51, 0.07); }
  .message strong {
    font-weight: 700; }

#map {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%; }

/*other stuff*/
.leaflet-popup-content label {
  width: 100%;
  margin: 0;
  padding: 0;
  font: bold 12px Arial;
  color: #333333; }

.leaflet-popup-content p {
  width: 100%;
  margin: 2px 0 3px!important;
  padding: 0;
  font: normal 12px Arial;
  color: #666666; }

/* CartoDB popup*/
div.cartodb-popup {
  position: absolute;
  display: block;
  width: 214px;
  padding: 0;
  -webkit-transform: translateZ(10000px);
  /*Hack for Safari*/ }

div.cartodb-popup:hover {
  cursor: default; }

div.cartodb-popup a.cartodb-popup-close-button {
  position: absolute;
  right: 3px;
  top: 2px;
  width: 22px;
  height: 15px;
  padding: 4px 0 3px 0;
  text-align: center;
  font: bold 15px "Helvetica",Arial;
  color: #666666;
  text-decoration: none;
  line-height: 15px;
  background: none;
  text-indent: 0;
  overflow: visible; }

div.cartodb-popup a.cartodb-popup-close-button:hover {
  color: #333333;
  cursor: pointer; }

div.cartodb-popup div.cartodb-popup-content-wrapper {
  width: 186px;
  padding: 25px 18px 5px 10px;
  margin: 0;
  background: url("../img/sprite.png") 0 top;
  border: none;
  box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0; }

div.cartodb-popup div.cartodb-popup-content {
  width: 186px;
  max-height: 200px;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; }

div.cartodb-popup div.cartodb-popup-content .jspTrack {
  background: #dddddd; }

div.cartodb-popup div.cartodb-popup-content .jspDrag {
  background: #999999; }

div.cartodb-popup div.cartodb-popup-content .jspHover, div.cartodb-popup div.cartodb-popup-top-content .jspActive {
  background: #666666; }

div.cartodb-popup div.cartodb-popup-content label {
  display: block;
  width: auto;
  padding: 0 0 0 5px;
  font: normal 11px Arial;
  color: #B3B3B3;
  text-shadow: 0 1px white; }

div.cartodb-popup div.cartodb-popup-content p {
  display: block;
  width: 170px;
  max-width: 170px;
  padding: 2px 4px!important;
  margin: 2px 0 7px!important;
  font: bold 11px 'Helvetica',Arial;
  color: #666666;
  border: none;
  background: none;
  text-shadow: 0 1px white; }

div.cartodb-popup div.cartodb-popup-content p.empty {
  font-weight: normal;
  font-style: italic;
  color: #b7b7b7; }

div.cartodb-popup div.cartodb-popup-tip-container {
  width: 180px;
  height: 36px;
  padding: 11px 16px 10px 10px;
  margin: 0;
  background: url("../img/sprite.png") no-repeat right top; }

div.cartodb-popup div.cartodb-popup-tip-container label {
  float: left;
  margin: 5px 0 0 3px;
  font: normal 11px Arial;
  color: #B3B3B3;
  text-shadow: 0 1px white; }

div.cartodb-popup div.cartodb-popup-tip-container label strong {
  font: bold 11px 'Helvetica',Arial;
  color: #666666;
  text-shadow: 0 1px white; }
